<a href="https://colab.research.google.com/github/uto4ka101/First/blob/main/train.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.metrics import f1_score

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
!ls "/content/drive/MyDrive"
data=pd.read_csv('/content/drive/MyDrive/train_new.csv',encoding='utf-8')

'Colab Notebooks'   recommender-systems-in-python-master
 data.csv	    RGBD_fruit_detection_faster-rcnn.pytorch-master
 Derevnja2021	    StudentsPerformance.csv
 Ng2022		    train_new.csv

In [ ]:
data.head()

   Unnamed: 0  PassengerId  Survived  Pclass  ...  Ticket     Fare Deck  Embarked
0           0            1         0       3  ...      A5   7.2500    X         S
1           1            2         1       1  ...      PC  71.2833    C         C
2           2            3         1       3  ...  STONO2   7.9250    X         S
3           3            4         1       1  ...       X  53.1000    C         S
4           4            5         0       3  ...       X   8.0500    X         S

[5 rows x 16 columns]

In [ ]:
data.shape

(891, 16)

In [ ]:
data.isna() .sum()

Unnamed: 0       0
PassengerId      0
Survived         0
Pclass           0
Surname          0
Title            0
Sex              0
Age            177
FsizeD           0
Fsize            0
SibSp            0
Parch            0
Ticket           0
Fare             0
Deck             0
Embarked         2
dtype: int64

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
imr = SimpleImputer(missing_values = np.nan, strategy='median')
imr = imr.fit(data[['Age']])
data['Age']=imr.transform(data[['Age']])

In [ ]:
imr = SimpleImputer(missing_values = np.nan, strategy ='most_frequent')
imr = imr.fit(data[['Embarked']])
data['Embarked']=imr.transform(data[['Embarked']])

In [ ]:
X = data.drop("Survived", axis = 1)
y = data.Survived

In [ ]:
!pip install catboost

Collecting catboost
  Downloading catboost-1.0.4-cp37-none-manylinux1_x86_64.whl (76.1 MB)
     |████████████████████████████████| 76.1 MB 1.3 MB/s
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-1.0.4

In [ ]:
from catboost import  CatBoostClassifier

In [ ]:
skf=KFold(n_splits=5)
print(skf.get_n_splits(X))
#cat_feature=[2,3,4,6,10,12,13]
cat_feature = np.where(X.dtypes != np.float)[0]
print(cat_feature)

5
[ 0  1  2  3  4  5  7  8  9 10 11 13 14]

In [ ]:
from catboost import CatBoostClassifier, Pool, cv
import catboost

In [ ]:
model = CatBoostClassifier(iterations = 100, depth = 3, learning_rate = 0.06, verbose = False)
f1 =[]
print(model)

<catboost.core.CatBoostClassifier object at 0x7fd5b9bbcdd0>

In [ ]:
%%time
for train_index, test_index in skf.split(y):
   X_train = X.iloc[train_index]
   X_test = X.iloc [test_index]
   y_train = y[train_index]
   y_test = y[test_index]
#pool = Pool(data=X, label=y, cat_features=cat_features)
# test_pool = Pool(X_test, cat_features=cat_feature)
   train_pool = Pool(X_train,y_train, cat_features=cat_feature)
   test_pool = Pool(X_test, cat_features=cat_feature)
   model.fit(train_pool)
   preds=model.predict(test_pool, prediction_type='Class')
   f1.append(f1_score(y_test,preds.flatten()))

CPU times: user 950 ms, sys: 141 ms, total: 1.09 s
Wall time: 739 ms

In [ ]:
np.mean(f1)

0.7788358829482441

In [ ]:
score_feature = model.get_feature_importance(Pool(data=X_train, label=y_train, cat_features=cat_feature))

In [ ]:
data_score = pd.DataFrame({"feature_name": X.columns,"score": score_feature}) 
data_score = data_score.sort_values(by=["score"], ascending = False)

In [ ]:
data_score

   feature_name      score
4         Title  44.794293
2        Pclass  14.595184
5           Sex  14.333944
13         Deck   5.987194
3       Surname   5.914292
7        FsizeD   5.320903
12         Fare   2.576983
8         Fsize   2.033260
6           Age   1.722288
14     Embarked   1.217063
9         SibSp   0.718332
10        Parch   0.419843
11       Ticket   0.366420
0    Unnamed: 0   0.000000
1   PassengerId   0.000000

In [ ]:
new_columns = data_score.feature_name[data_score.score > 0.4]

In [ ]:
X_new_columns = X[new_columns]
X_new_columns

          Title  Pclass     Sex Deck  ...   Age Embarked  SibSp  Parch
0            Mr       3    male    X  ...  22.0        S      1      0
1           Mrs       1  female    C  ...  38.0        C      1      0
2          Miss       3  female    X  ...  26.0        S      0      0
3           Mrs       1  female    C  ...  35.0        S      1      0
4            Mr       3    male    X  ...  35.0        S      0      0
..          ...     ...     ...  ...  ...   ...      ...    ...    ...
886  Rare Title       2    male    X  ...  27.0        S      0      0
887        Miss       1  female    B  ...  19.0        S      0      0
888        Miss       3  female    X  ...  28.0        S      1      2
889          Mr       1    male    C  ...  26.0        C      0      0
890          Mr       3    male    X  ...  32.0        Q      0      0

[891 rows x 12 columns]

In [ ]:
cat_feature=[X_new_columns.columns.get_loc(i) for i in X_new_columns.dtypes[X_new_columns.dtypes == "object"].index]

In [ ]:
f1_new = []

In [ ]:
%%time
for train_index, test_index in skf.split(y):
   X_train = X_new_columns.iloc[train_index]
   X_test = X_new_columns .iloc [test_index]
   y_train = y[train_index]
   y_test = y[test_index]
#pool = Pool(data=X, label=y, cat_features=cat_features)
# test_pool = Pool(X_test, cat_features=cat_feature)
   train_pool = Pool(data=X_train, label=y_train, cat_features=cat_feature)
   test_pool = Pool(data=X_test, label=y_test, cat_features=cat_feature)
   model.fit(train_pool, eval_set=test_pool, verbose=False)
   #model.fit(train_pool)
   preds =model.predict(test_pool)
   f1_new.append(f1_score(y_test,preds.flatten()))

CPU times: user 711 ms, sys: 96.5 ms, total: 808 ms
Wall time: 622 ms

In [ ]:
np.mean(f1_new)

0.7828776877718054